HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
##application.yml
application.yml

##compose
src/main/resources/docker-compose.yml
*/docker-compose.yml
docker-compose.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Docker Compose
docker-compose.yml

# Spring Boot config
application.yml
application-*.yml

### VS Code ###
.vscode/
src/main/resources/application.yml

db_data/
*.dblwr

#env
.env
