server:
  port: 8082


spring:
  application:
    name: "UserService"
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: cid
            client-secret: csecret
            scope:
              - email
              - profile

custom:
  jwt:
    redirection:
      base: http://localhost:8084



