server:
  port:


spring:
  application:
    name:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id:
            client-secret:
            scope:


custom:
  jwt:
    redirection:
      base:



